@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  // width: 100vw;
  // height: 100vh;
  display: grid;
  place-items: center;
  background-color: $dark-slate-grey;
  font-size: 1.6rem;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}


h1,
p {
  color: $dark-slate-grey;

}

h1 {
  font-size: 3em;
  margin-bottom: 15px;
}

p {
  line-height: 25px;
}

button[type=submit] {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: $dark-slate-grey;
  color: $white;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 20px;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, $grey, $tomato);
  }
}