main {
  min-width: 350px;
  background-color: $white;

  .image-container {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .content-container {
    // font-size: 1.5rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .content {
      padding: 20px;
    }

    form {
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;

      label {
        .head-input {
          color: $dark-slate-grey;
          font-weight: bold;
          margin-bottom: 5px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          p {
            width: max-content;
          }
        }

        input[type=email] {
          width: 100%;
          padding: 15px;
          border: 1px solid $grey;
          border-radius: 5px;
        }
      }

      .error {
        color: #f00;
        width: 100%;
      }

      .input-error {
        background-color: rgba($tomato, .3);
        border: 1px solid $tomato;

        &::placeholder {
          color: $tomato
        }
      }

    }
  }

  ul {
    margin: 20px 0;

    li {
      margin-bottom: 15px;
      display: flex;
      position: relative;

      &::before {
        content: url(../assets/images/icon-list.svg);
        position: absolute;

      }

      p {
        width: 90%;
        margin-left: 35px;
      }
    }
  }

  .thanks-container {
    max-width: 400px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .thanks-content {

      img {
        width: 50px;
        height: 50px;
      }

      h1 {
        margin: 25px 0;
      }
    }
  }


}